<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
</head>
<form method="POST" action="/login">
    <div>
        <div class="user-font">Username</div>
        <input class="user-input" type="text" name="username" min="1"  maxlength="30" required>

    </div>
    <div class="login-padding">
        <div class="pass-font">Password</div>
        <input class="password-input" type="text" name="password" min="1"  maxlength="30" required>

    </div>
    <div class="button-padding">
        <input class="button" type="submit" value="Login">
        
    </div>
</form>
{% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <b>{{message}}</b>
                    {% endfor %}
                {% endif %}
            {% endwith %}
<div>
    <span class="flavor-text">Don't have an account?</span>
    <a href="{{url}}">Sign Up</a>
    